           <div ng-controller="ClienteController as ctrl">
            <form>
                <fieldset>
                    <legend><i class="fa fa-plus"></i> Clientes</legend>
                    <div class="form-group">
                        <label>Nome:</label>
                        <input class="form-control" type="text" name="nome" value="{{cliente.nome}}" ng-model="cliente.nome">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input class="form-control" type="text" name="email" value="{{cliente.email}}" ng-model="cliente.email">
                    </div>
                    <div class="form-group">
                        <label>Senha:</label>
                        <input class="form-control" type="text" name="senha" value="{{cliente.senha}}" ng-model="cliente.senha">
                    </div>
                    <button class="btn btn-success" ng-click="save()" ng-model="btnSalvar" value="{{btnSalvar}}">Salvar</button>
                </fieldset>
            </form>
            <hr>
            <table class="table">
                <caption>Lista de clientes</caption>
                <thead>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    <tr ng-repeat="cliente in clientes">
                      <td>{{cliente.id}}</td>
                      <td>{{cliente.nome}}</td>
                      <td>{{cliente.descricao}}</td>
                      <td>{{cliente.valor}}</td>
                      <td>
                        <button class="btn btn-primary"  ng-click="editar($index)"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger"  ng-click="delete(cliente.id)"><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>
                </tbody>
            </table>
</div>
